.content {
  padding: 40px 0;
}

.content header h2 {
  font-size: 42px;
}

.content section h3 {
  font-size: 24px !important;
}

.content.new {
  display: block;
  height: inherit;
}

.content.new header {
  width: 100%;
  height: 300px;
}

.content.new section {
  width: 100%;
}

.content.banner header.h_white {
  padding: 50px 0;
}

.content.community section article {
  height: 300px;
}

.content.community section article .txtBox {
  width: 70%;
}

.content.acc div.accInner {
  display: block;
  height: inherit;
}

.content.acc div.accInner header {
  width: 100%;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.content.acc div.accInner section {
  width: 100%;
}

.content.acc div.accInner section ul.imgBox {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content.acc div.accInner section ul.imgBox li.img {
  width: calc(50% - 1vw);
}
