@import '_mixin';
@import url(../css/font.css);

$num : side();

// various  fin
.hdrWrap>header,
.navWrap>nav,
.ftrWrap>footer {
    @include width();

    &.nowth {
        margin: inherit;
        width: 100%;
        max-width: none;
    }

}

.content>header,
.content>section {
    @include width();

    &.nowth {
        margin: inherit;
        width: 100%;
        max-width: none;
    }

}

.wth {
    @include width();
}

.moreBtn {
    margin-top: 20px;
    padding: 0 40px;
    font-size: 16px;
    line-height: 40px;
    background-color: $black;
    border: none;
    border-radius: 50px 0 50px 0;
    color: #fff;
    font-family: "Noto Sans KR";
    font-weight: 300;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        letter-spacing: 2px;
    }

    &.line {
        color: #fff;
        border-right: solid 1px #fff;
        border-bottom: solid 1px #fff;
        background-color: transparent;

    }

    &.lineB {
        color: $black;
        border-right: solid 1px $black;
        border-bottom: solid 1px $black;
        background-color: transparent;
    }
}

ul.color {
    display: none;
    transition: all 0.2s ease;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2px;

    li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: solid 1px #fff;


        &.red {
            background-color: rgb(226, 20, 20);
        }

        &.black {
            background-color: rgb(36, 36, 36);
        }

        &.orange {
            background-color: rgb(249, 196, 24);
        }

        &.pink {
            background-color: rgb(244, 147, 163);
        }

        &.green {
            background-color: rgb(33, 159, 122);
        }

        &.blue {
            background-color: rgb(54, 116, 210);
        }

        &.purple {
            background-color: rgb(141, 78, 141);
        }

        &.ivory {
            background-color: rgb(227, 227, 219);
        }

    }
}

.hdrWrap {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s;
    z-index: 100;


    // background-color: rgba(255, 255, 255, 0.3);



    header {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        border-bottom: solid 0.5px #fff;


        h1.logo {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 60%;
            }
        }

        ul.mainMenu {
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            position: relative;



            li {
                .title {
                    span {
                        font-family: "Noto Sans KR";
                        font-size: 16px;
                        line-height: 60px;
                        color: #fff;
                        font-weight: 300;
                        text-shadow: 2px 2px 2px rgba($color: #000000, $alpha: 0.5);
                        transition: all 0.3s;
                    }
                }
            }

            ul.subMenu {
                display: flex;
                justify-content: space-around;
                align-items: center;
                position: absolute;
                width: 100%;
                top: 60px;
                left: 0;

                li {
                    line-height: 80px;
                    color: #fff;
                    opacity: 0.8;
                    line-height: 60px;

                }



            }
        }

        .icons {
            width: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            i {
                color: #fff;
            }
        }

        .hamBtn {
            height: 60px;
            display: none;
            width: 10%;

            i {
                color: #fff;
            }
        }
    }
}

.subBannerWrap {
    width: 100%;
    height: 650px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        bottom: -2px;
        left: 0;
        background-repeat: no-repeat;
        background-image: url(../images/curve.png);
        background-position-y: bottom;
        background-size: contain;
        z-index: 1;

    }

    .subBanner {
        width: 100%;
        height: 100%;
        @include width();
        display: flex;
        justify-content: space-between;
        align-items: center;

        header {
            width: 60%;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

            span {
                font-size: 30px;
                font-family: "Raleway";
                color: #fff;
            }

            h2 {
                font-size: 50px;
                font-family: "Raleway";
                color: #fff;
            }
        }

        section {
            width: 40%;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

            p {
                font-size: 14px;
                font-family: "Noto Sans KR";
                color: #fff;
                line-height: 30px;
                margin-top: 20px;
            }
        }
    }
}

.ftrWrap {
    footer {
        .ftop {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 40px 0;

            dl {
                dt {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 40px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }

                dd {
                    line-height: 30px;

                }

                &.connect {
                    dd {
                        display: flex;
                        justify-content: space-around;
                    }
                }
            }
        }

        .fbtm {
            border-top: solid 1px #999;
            padding: 40px 0;
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .fbtm_left {
                .company {
                    line-height: 20px;

                }

                .copy {
                    margin-top: 15px;
                    line-height: 30px;

                }

                ul.more {
                    margin-top: 15px;
                    display: flex;

                    li {
                        line-height: 30px;
                        margin-right: 20px;
                        font-weight: 500;
                    }
                }
            }

            .fbtm_right {
                width: 30%;

                .image {
                    width: 100%;

                    img {
                        width: 100%;
                        border: solid 1px #999;
                    }
                }
            }
        }
    }
}


@media screen and (max-width : 1000px) {

    .hdrWrap {
        header {
            ul.mainMenu {
                width: 60%;


                li {
                    font-size: 14px;
                }

                ul.subMenu {}
            }
        }
    }

    .ftrWrap {
        footer {
            .ftop {
                dl {
                    width: 50%;
                }
            }

            .fbtm {
                flex-direction: column;
            }
        }
    }


}

@media screen and (max-width : 768px) {
    .moreBtn {
        padding: 0 20px;
        font-size: 14px;
        line-height: 30px;
        margin-top: 10px;
    }

    //메인메뉴와 아이콘들 사라짐
    .hdrWrap {

        header {
            border-bottom: none;

            ul.mainMenu,
            .icons {
                display: none;
            }

            .hamBtn {
                display: flex;
                justify-content: center;
                align-items: center;
            }


        }
    }

    body.on {
        position: relative;
        overflow: hidden;

        .hdrWrap {
            background-color: #000000;
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            overflow: hidden;


            header {

                //메뉴 클릭시 메인메뉴 세로정렬
                ul.mainMenu {
                    display: flex;
                    padding-top: 60px;
                    width: 85%;
                    flex-direction: column;
                    align-items: stretch;
                    position: inherit;
                    text-align: center;



                    &>li {
                        border-bottom: solid 1px rgba($color: #fff, $alpha: 0.5);


                        div.title {
                            border-bottom: solid 1px rgba($color: #fff, $alpha: 0.5);

                        }

                        ul.subMenu {
                            position: inherit;
                            flex-direction: column;

                            li {}

                        }

                    }
                }
            }
        }
    }

    .subBannerWrap {
        height: 650px;

        .subBanner {
            flex-direction: column;
            justify-content: center;
            gap: 30px;

            header {
                width: 100%;
            }

            section {
                width: 100%;
            }
        }
    }

    .ftrWrap {
        footer {
            .ftop {
                dl {
                    width: 100%;
                }
            }

            .fbtm {
                flex-direction: column;
            }
        }
    }

}