.content {
    padding: 40px 0;
    header {
        h2 {
            font-size: 42px;
        }
    }

    section {
        h3 {
            font-size: 24px !important;
        }
    }

}

.content.new {
    display: block;
    height: inherit;

    header {
        width: 100%;
        height: 300px;
    }

    section {
        width: 100%;

    }
}

.content.banner {
    header.h_white {
        padding: 50px 0;
    }
}

.content.community {
    section {
        article {
            height: 300px;

            .txtBox {
                width: 70%;
            }
        }
    }
}

.content.acc div.accInner {
    display: block;
    height: inherit;

    header {
        width: 100%;
        height: 300px;
        align-items: center;
        text-align: center;
    }

    section {
        width: 100%;

        ul.imgBox {
            flex-wrap: wrap;

            // justify-content: space-between;
            li.img {
                width: calc(50% - 1vw);
            }
        }
    }
}